{
  "comments": "stage-2 is for async/await, rest/spread and class properties - https://babeljs.io/docs/plugins/preset-stage-2/",
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    [ "transform-runtime", { "polyfill": false } ],
    "babel-polyfill",
    "react-hot-loader/babel"
  ]
}
