{
  "env": {
    "browser": true
  },
  "globals": {
    "requie": true,
    "chrome": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [ "error", "backtick", { "avoidEscape": true, "allowTemplateLiterals": true } ],
    "comma-dangle": [ "error", "always-multiline" ],
    "react/jsx-no-bind": 0
  }
}
