@import 'channels.css';
@import 'settings.css';

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 2px;
    background: #666;
    border-radius: 2px;
}

body {
    width: 450px;
    height: 341px;
    background: #f7f7f7;
}

.ui.loading.segment, .ui.loading.segment:before {
    height: 65px;
    background: none;
    border: none;
    box-shadow: none;
}

.ui.menu.bottom {
    border-radius: 0;
    margin: 5px 0 0 0;
    position: fixed;
    bottom: 0;
}

.ui.menu.bottom .icon.item {
    width: 50px !important;
}

.ui.menu .label.counter {
    background: white;
    color: #6435c9;
    font-size: 10px;
    border: 1px solid #6435c9;
    display: none;
}
