$height: 40px;

.channel {
  height: $height !important;

  .title {
    float: left;
    line-height: $height;

    .liveStatus {
      position: relative;
      top: 1px;
      margin: 0 5px;
      font-size: 0.85em;
    }
  }
}
