@import "../variables";

$height: 40px;

.channel {
  height: $height;
  background: $white;

  .title {
    float: left;
    line-height: $height - 1px;

    .liveStatus {
      position: relative;
      top: 1px;
      margin: 0 5px;
      font-size: 0.85em;
    }
  }

  .actions {
    display: none;
    float: right;
    margin-top: 3px !important;

    .action {
      float: left;

      &,
      &.checkbox > input,
      &.checkbox div,
      &.checkbox span {
        width: 35px !important;
        height: 35px !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      &.checkbox > div {
        pointer-events: none;
      }

      &.checkbox svg {
        top: 8px !important;
        left: 8px !important;
      }

      &.checkbox span {
        top: 0 !important;
        left: 0 !important;
      }

      .icon {
        width: 20px !important;
        height: 20px !important;
        color: $grey800 !important;
        fill: $grey800 !important;

        &.red {
          fill: $red !important;
        }
      }
    }
  }

  &:hover {
    .actions {
      display: block;
    }
  }
}
