@import "../variables";

$height: 65px;
$infoPadding: 5px;
$infoWidth: $appWidth - $height - 20px;

.channel {
  margin: 5px;

  .picture {
    float: left;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 0.9em;
    line-height: 5em;

    &,
    img {
      width: $height;
      height: $height;
    }
  }

  .info {
    width: $infoWidth;
    height: $height;
    padding: $infoPadding $infoPadding * 1.5;
    margin-left: $height + 10px;

    .viewers {
      float: right;
      line-height: 1.5em;

      .icon.user {
        height: 1em;
        margin: 0 0 -1px 3px;
        fill: $red;
      }
    }

    .status {
      width: 260px;
      font: {
        size: 1.2em;
        weight: bold;
      }
    }

    .live {
      font-size: 0.95em;
      color: rgba(0, 0, 0, 0.4);
      line-height: 1.3em;
    }

    .description {
      line-height: 1.4em;

      a::after {
        content: " ";
      }
    }
  }

  &.offline .info .description {
    line-height: 3.8em;
  }
}
